html * {
    cursor: none
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: "Roboto Mono", serif;
}

.cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-10px, -10px);
    pointer-events: none;
    z-index: 1000;
    backdrop-filter: invert();
}

.front {
    width: 100%;
    height: 100vh;
}

.header {
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: inline-block;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 30, 255));
    background-image: linear-gradient(90deg, #00d2ff 0%, #a148ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* stays visible if too large */
    white-space: nowrap;
}

.header::after {
    /* thin white line to the right of header */
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 5px;
    height: 80px;
    transform: translate(0, 20px);
    background-color: rgb(255, 255, 255);
    /* make it blink */
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}



.backplate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
}

p {
    width: min(90%, 1400px);
    color: black;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -1;
    opacity: 0.5;
}

h1 {
    width: min(90%, 1400px);
    color: black;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

footer {
    height: 100vh;
    color: grey;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.hline {
    width: 500px;
    height: 2px;
    background-color: grey;
    position: absolute;
    left: 50%;
    top: calc(50% - 120px);
    transform: translate(-50%, -50%);
}

.pf {
    position: absolute;
    left: 50%;
    top: calc(50% - 300px);
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 1s;
    opacity: 0;
}

.pf-background {
    position: absolute;
    left: 50%;
    top: calc(50% - 300px);
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 1s;
    opacity: 0;
    filter: blur(50px) brightness(2);
}

.top-right {
    position: fixed;
    top: 0px;
    right: 20px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    opacity: 0.3;
    padding: 30px;
    filter: saturate(0);

}


.top-right:hover {
    opacity: 1;
}

.links {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: calc(50% + 300px);
    transform: translate(-50%, -50%);
    height: 100px;
    width: 800px;

}

.link {
    width: 80px;
    height: 80px;
    object-fit: cover;
    filter: saturate(0);
    animation: flyIn 1s ease-in-out;
}

#linkedin {
    animation-delay: -0.4s;
    opacity: 0.4;
}

#youtube {
    animation-delay: -0.3s;
    opacity: 0.4;
}

#instagram {
    animation-delay: -0.2s;
    opacity: 0.5;
}

#bsky {
    animation-delay: -0.1s;
    opacity: 0.3;
}

#github {
    animation-delay: -0.0s;
    opacity: 0.3;
}



#instagram:hover {
    opacity: 1;
    filter: saturate(0.4) brightness(2);
}

#youtube:hover {
    opacity: 1;
    filter: saturate(0.5) brightness(2);
}

#github:hover {
    opacity: 1;
    filter: saturate(0.5) brightness(2);
}


#linkedin:hover {
    opacity: 1;
    filter: saturate(0.5) brightness(2);
}

#bsky:hover {
    opacity: 1;
    filter: saturate(0.5) brightness(2);
}


.nav {
    display: flex;
    justify-content: space-between;
    width: min(45%, 700px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.nav * {
    color: grey;
    text-decoration: none;
    font-size: 40px;
}

.nav *.active {
    color: white;
    text-decoration: underline;
}


@keyframes brighten {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;

    }
}

@keyframes darken {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes unhide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes flyIn {
    from {
        transform: translateY(2000px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes highLight {
    from {
        transform: scale(1) translate(-10px, -10px);
    }

    to {
        transform: scale(3) translate(-3.3px, -3.3px);
    }
}

@keyframes unhighLight {
    from {
        transform: scale(3) translate(-3.3px, -3.3px);
    }

    to {
        transform: scale(1) translate(-10px, -10px);
    }
}