:root {
    --left-gradient-color: #00d2ff;
    --right-gradient-color: #a148ff;
    --header-font-size: min(60px, 8vw);
    --subheader-font-size: min(30px, 6vw);
    --subsubheader-font-size: min(24px, 4vw);
    --paragraph-font-size: min(16px, 3vw);
    --vertical-main-page-spacing: 25%;
    --nav-item-font-size: min(24px, 4vw);
    --paragraph-width: min(90%, 1000px);
    --subheader-width: min(90%, 1000px);
    --cursor-size: 20px;
    --link-icon-size: min(50px, 10vw);
    --pf-size: 100px;
    --pf-background-multiplier: 1.25;
    --nav-width: min(90vw, 700px);
    --date-font-size: min(16px, 3vw);
    --background-color: black;
    --text-color: white;
}

html * {
    cursor: none
}

body {
    color: rgb(255, 255, 255);
    background-color: var(--background-color);
    font-family: "Roboto Mono", serif;
    font-size: var(--font-size);
}

.cursor {
    width: var(--cursor-size);
    height: var(--cursor-size);
    border-radius: 50%;
    position: absolute;
    transform: translate(-10px, -10px);
    pointer-events: none;
    z-index: 1000;
    backdrop-filter: invert();
    left: -100px;
}

.front {
    width: 100%;
    height: 100vh;
}

.header {
    font-size: var(--header-font-size);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: inline-block;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, var(--left-gradient-color) 0%, var(--right-gradient-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    white-space: nowrap;
    /* dont change size if the surrounding div gets too small */
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 3px;
    height: var(--header-font-size);
    transform: translate(0, calc(var(--header-font-size) / 5));
    background-color: rgb(255, 255, 255);
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}



.backplate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, var(--background-color) 60%);
}


.last::after {
    font-size: var(--paragraph-font-size);
    text-align: center;
    text-justify: center;
    font-weight: normal;
    opacity: 1;
    position: absolute;
    content: 'Scroll down to continue';
    color: grey;
    left: 50%;
    top: calc(100% + 40px);
    transform: translate(-50%, 0);
    z-index: 1000;
    animation: breathing 1s ease-in-out infinite;
}

/* fade out .last::after when it is not .last class anymore */

.date {
    font-size: var(--date-font-size);
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(0, -20px);
}

@media only screen and (min-width: 600px) {
    .date {
        text-align: right;
        margin-bottom: -40px;
        transform: translate(0, -80px);
    }
}

h1 {
    width: var(--subheader-width);
    color: black;
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: var(--subheader-font-size);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -1;
}

h2 {
    width: var(--subheader-width);
    color: black;
    margin-bottom: 30px;
    margin-top: 100px;
    font-size: var(--subsubheader-font-size);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-weight: normal;
    z-index: -1;
}


p {
    width: var(--paragraph-width);
    color: black;
    margin-left: calc((100% - var(--paragraph-width))/2);
    margin-bottom: 20px;
    font-size: var(--paragraph-font-size);
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    z-index: -1;
    opacity: 0.5;
}

a {
    width: var(--paragraph-width);
    color: rgb(0, 0, 0);
    margin-left: calc((100% - var(--paragraph-width))/2);
    margin-bottom: 0px;
    font-size: var(--paragraph-font-size);
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    opacity: 0.5;
    display: block;
}

a:hover {
    opacity: 1;
    color : rgb(255, 255, 255);                                  
}

footer {
    font-size: var(--paragraph-font-size);
    min-height: 50vh;
    width: 100%;
    color: grey;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}


.pf-container {
    animation: fadeIn 1s ease-in-out;
}

.pf {
    position: absolute;
    left: 50%;
    top: calc(50% - var(--vertical-main-page-spacing));
    transform: translate(-50%, -50%);
    width: var(--pf-size);
    height: var(--pf-size);
    object-fit: cover;
    border-radius: 50%;
}

.pf:hover {
    animation: enlargePF 0.3s ease-in-out forwards;

}

.pf:not(:hover) {
    animation: shrinkPF 0.2s ease-in-out forwards;
}

.pf-background {
    position: absolute;
    left: 50%;
    top: calc(50% - var(--vertical-main-page-spacing));
    transform: translate(-50%, -50%);
    width: calc(var(--pf-size) * var(--pf-background-multiplier));
    height: calc(var(--pf-size) * var(--pf-background-multiplier));
    object-fit: cover;
    border-radius: 50%;
    animation: fadeIn 2s ease-in-out;
    filter: blur(50px) brightness(2);
}

.top-right {
    position: fixed;
    top: 0px;
    right: 20px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    opacity: 0.3;
    padding: 30px;
    filter: saturate(0);
}


.top-right:hover {
    opacity: 1;

}

.links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: calc(50% + var(--vertical-main-page-spacing));
    transform: translate(-50%, -50%);
    height: 100px;
    width: var(--paragraph-width);
}

.link {
    width: var(--link-icon-size);
    height: var(--link-icon-size);
    object-fit: cover;
    filter: saturate(0) brightness(0.6);
    animation: flyIn 1s ease-in-out;
    z-index: -1;
}

#linkedin {
    animation-delay: -0.4s;
    opacity: 0.8;
}

#youtube {
    animation-delay: -0.3s;
    opacity: 0.8;
}

#instagram {
    animation-delay: -0.2s;
    opacity: 1;
}

#bsky {
    animation-delay: -0.1s;
    opacity: 0.6;
}

#github {
    animation-delay: -0.0s;
    opacity: 0.6;
}

.link:hover {
    filter: saturate(0.5) brightness(2);
}

@keyframes highlightLink {
    from {
        filter: saturate(0) brightness(0.6);
    }

    to {
        filter: saturate(0.5) brightness(2);
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    width: var(--nav-width);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
    z-index: -100;

}

.nav * {
    color: grey;
    text-decoration: none;
    font-size: var(--nav-item-font-size);
    text-align: center;
    position: relative;
}

.nav *:hover:not(.active) {
    animation: highlightNav 0.2s ease-in-out forwards;
}

.nav *:not(:hover):not(.active) {
    animation: unhighlightNav 0.2s ease-in-out forwards;
}


.nav *.active {
    color: white;
    /* text-decoration: underline; */
}

.nav *.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 2px;
    background-color: white;
    animation: underliningAppear 0.3s ease-in-out forwards;
}

.nav *:not(.active)::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 2px;
    background-color: white;
    animation: underliningDisappear 0.3s ease-in-out forwards;
}


@keyframes brighten {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;

    }
}

@keyframes darken {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes unhide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes flyIn {
    from {
        transform: translateY(2000px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes highLight {
    from {
        transform: scale(1) translate(-10px, -10px);
    }

    to {
        transform: scale(3) translate(-3.3px, -3.3px);
    }
}

@keyframes unhighLight {
    from {
        transform: scale(3) translate(-3.3px, -3.3px);
    }

    to {
        transform: scale(1) translate(-10px, -10px);
    }
}

@keyframes highlightNav {
    from {
        color: grey;
    }

    to {
        color: white;
    }
}

@keyframes unhighlightNav {
    from {
        color: white;
    }

    to {
        color: grey;
    }
}

@keyframes underliningAppear {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes underliningDisappear {
    from {
        width: 100%;
        background-color: white;
    }

    to {
        width: 0;
        background-color: grey;
    }
}

@keyframes breathing {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes enlargePF {
    from {
        width: var(--pf-size);
        height: var(--pf-size);
    }

    to {
        width: calc(var(--pf-size) * 1.2);
        height: calc(var(--pf-size) * 1.2);
    }
}

@keyframes shrinkPF {
    from {
        width: calc(var(--pf-size) * 1.2);
        height: calc(var(--pf-size) * 1.2);
    }

    to {
        width: var(--pf-size);
        height: var(--pf-size);
    }
}